extends ../../layouts/base

block css
    link(rel='stylesheet', href='/CSS/log.css')
block layout-content
    a.return-button(href='/dashboard') &#8592; Return
    .container-wrapper
        .container
            a(href='/base') Base
        .container
            a(href='/planet') Planet
