body {
    width: 100%;
    background: transparent;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/imgs/industry_background.jpg") center/cover;
}

.building-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 700px;
    border: 2px solid white;
    background-color: rgba(6, 8, 16, 0.75);
}