.ship-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: auto;
    padding: 5px;
    border: 2px solid rgb(48, 52, 54);
    background-color: rgba(6, 8, 16, 0.75);
}

.ship-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ship-box {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    gap: 20px;
}
.ship-info {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    padding: 2px;
}
.ship-property {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ship-image {
    max-width: 200px;
    max-height: 150px;
}
.horizontal-container {
    display: flex;
}

form {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    resize: none;
    text-align: center;
}

button  {
    margin-left: 5px;
}

.resources-container {
    display: flex;
    flex-direction: column;
}

.population {
    padding: 5px;
    width: 200px;
    height: 100px;
    background-color: rgba(6, 8, 16, 0.75);;
    border: solid 2px rgb(48, 52, 54);
}