extends ../../../layouts/base

block css
    link(rel='stylesheet', href='/CSS/buildings/buildings.css')
block layout-content
    .page-container
        .building-container
            h1 Life Support System
            p The life support system is the core of the base.
            p With each level you can level up the other building to the same level as this one.
