extends ../layouts/base

block css
    link(rel='stylesheet', href='/CSS/stars.css')
block layout-content
    .page-container
        .timer-container
            span#timer 00:00
        .map-container
            img(src="/imgs/stelar_system.png")
    script.
        const current_events = [];
        const fights = !{JSON.stringify(combats)};;
    script(src="/JS/events.js")


